
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cosmo Care Clinic Home";
}
        <div id="speech-bubble">
            <span class="spantextLabel">Find a high end cosmetic and surgical clinics in your area</span> 
                    
        </div>
        <div class="speech-bubble2">    
            <input type="text" class="input-text-PostCode" />
            <span class="spantextPostCode">Type Post code here</span>           
        </div>
      <div class="speech-bubble2">          
          <button type="button" id="submitSearch"><span>Search</span></button>
        </div>
        <div class="sidebar">
            <span class="oval">            
                @Html.ActionLink("Patient Login", "Login", "", new { @class = "Loginbutton" })&nbsp;
                @Html.ActionLink("Clinic Login", "Login", "", new { @class = "Loginbutton" })
                           </span>
        </div>
                @*<ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>

                        </ul>
                    </li>
                </ul>*@

        <!-- Carousel -->
        @*<div id="homeCarousel" class="carousel slide">
            <!-- Menu -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Items -->
            <div class="carousel-inner">

                <!-- Item 1 -->
                <div class="item active">
                    <img src="images/bluegreen.jpg" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Responsive designs to follow </h1>
                            <p>Trust us to we offer you a handy solutions in latest technologies</p>
                            <p>
                                <a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="item">
                    <img src="images/green-gradient.jpg" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Cool solutions </h1>
                            <p>Have a look.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="item">
                    <img src="images/bluewide.png" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Timely and quick approach</h1>
                            <p>to all your mobile/ web related needs</p>
                            <p><a class="btn btn-large btn-primary" href="#">More</a></p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
            <div id="carouselButtons">
                <button id="playButton" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button id="pauseButton" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
            </div>
        </div>*@


        @*<div class="container1">
            <div id="nav">
                <img src="images/PlanetEarth.jpg" alt="HTML5 Icon" width="195" height="195">
            </div>

            <div id="section">
                <h1>Wander Frost</h1>

                <p><a class="btn btn-large btn-success" href="#">Read more</a></p>


            </div>

        </div>*@
       

        @*<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1080px; width: 1920px; z-index: -999999; position: fixed;">
            <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1920px; height: 1080px; max-width: none; z-index: -999999; left: 0px; top: 0px;" src="images/light_yellow.jpg">
        </div>*@

@*<div id="footer">
    <div class="container">
        <p align="center" style="color:blue" class="muted credit"></p>
    </div>


</div>*@

